/*
CMSC 495 6382
10/1/22 William Rincon - Created CSS for color game
10/4/22 William Rincon - Built colored buttons for game
*/
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
    
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}


.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

        .btn1{background-color: #ff0000}
        
        .btn2{background-color: #37c871;}
        
        .btn3{background-color: #ffcc00;}
        
        .btn4{background-color: #0066ff;}

    .btn:hover {
        border-color: black;
    }

    .btn.correct {
        --hue: var(--hue-correct);
        color: black;
    }

    .btn.wrong {
        --hue: var(--hue-wrong);
    }

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
